{% extends "base.html" %}
{% block conteudo %}
<div class="row">
{% for objeto in todos_pokemons %}

    <div class="col-md-3">
    <div class="card text-center bg-primary border-dark mb-3">
         <h6 id="id" class="card-title text-white mb-0 "><b>{{objeto.nome}}</b>
            </h6>

        <a href="{% url 'pokedex:um_pokemon' idpokemon=objeto.id %}">
            <img src={{ objeto.imagem.url }} width="100" class="card-img-top  " height="100"> </a>

    </div>
</div>

{% endfor %}
</div>
{% endblock %}