{% extends "base.html" %}
{% block conteudo %}
    <div  class="card text-center  " style="width: 18rem;"  >

        <img src="{{ pokemon.imagem.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <ul class="list-group list-group-flush">
            <h5 class="card-title text-left"><b>{{ pokemon.nome }}</b></h5>

                <li class="list-group-item"> <b><i>Categoria:</i> </b>{{ pokemon.fk_categoria.nome }}</li>
                <li class="list-group-item"> <b><i>Altura: </i></b> {{ pokemon.altura }}</li>
                <li class="list-group-item"><b><i>Velocidade: </i></b>{{ pokemon.velocidade }}</li>
                <li class="list-group-item"><b><i>Habilidades: </i></b>{{pokemon.habilidades}} </li>
                <li class="list-group-item"><b><i>Experiência:</i> </b>{{pokemon.experiencia}} </li>
                <li class="list-group-item"><b><i>Peso:</i> </b>{{pokemon.peso}} </li>


             </ul>
        </div>
        <a href="{% url 'pokedex:listar_pokemons' %}" class="btn btn-primary" >
        Voltar
    </a>
    </div>

{% endblock %}
